@font-face {
  font-family: 'Futura2';
  src: url('/assets/Futura.woff')  format('WOFF'),
  url('/assets/Futura.ttf')  format('truetype') /* Safari, Android, iOS */
}

body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  background-color: none;
  height:100%;
  margin: 0;
  font-family: Futura, "Futura2", "Trebuchet MS", Arial, sans-serif;
}

.aframe {
  width : 100%;
  height : 100%;
  position: absolute;
  z-index: 0;
}

.app {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 5;
  pointer-events: none;
  background : #ff68ddb3;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color : white;
  margin: 15px;
  padding : 0px 20px 0px 20px;
}

.mainTitle {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  margin-top: -50px;
}

.mainAbout {
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.mainLearn {
  display: flex;
  border : 3px solid white;
  border-radius: 18px;
  padding: 6px 8px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 18px;
  cursor: pointer;
  background: #f748af;
  pointer-events: all;
}

.mainLearn:hover {
  background : #de3f9d;
}


.learn {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: #404040c4;
  display: none;
  flex-direction: column;
  align-items: center;
  pointer-events: all;
}

.learnModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  color : white;
  font-weight: bold;
  font-size: 15px;
  border : 3px solid white;
  border-radius: 24px;
  padding: 12px 16px;
  background: #d822639c;
  width: 500px;
  max-width: 90%;
  margin-top: 150px;
}

.learnHeader {
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  margin-bottom: 16px;
}

.learnDesc {
  font-size: 17px;
  width: 100%;
  margin-bottom: 8px;
}

.learnEmail {
  width: 100%;
  text-align: center;
  margin-top: 8px;
  font-size: 16px;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.dollar {
  margin-top: 10px;
  color : white;
  font-size: 20px;
  margin-right: 3px;
  font-weight: bold;
}

.fundAmountInput {
  margin-top: 10px;
  font-size: 18px;
  width : 200px;
  pointer-events: all;
}

.fundSubmit {
  margin-top: 10px;
  border : 3px solid white;
  border-radius: 18px;
  padding: 6px 8px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  background: #8baf98;
  pointer-events: all;
}

.fundSubmit:hover {
  background : #7a9c86;
}

.topContent {
  display: flex;
  flex-direction: row;
  width : 80%;
  height : 100%;
  justify-content: space-around;
  align-items: flex-end;
}

.bottomContent {
  display: flex;
  flex-direction: row;
  width : 80%;
  height : 100%;
  justify-content: space-around;
  align-items: flex-start;
}

.featured {
  width : 150px;
  height : 150px;
  background: #d822639c;
  border : 3px solid white;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding : 8px;
  pointer-events: all;
}

.featured:hover {
  background : #c51a579c;
}

.featuredImg {
  height : 140;
  max-width: 150;
}

.featuredContainer {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  background: #404040c4;
  display: none;
  flex-direction: column;
  align-items: center;
  pointer-events: all;
}

.featuredModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  color : white;
  font-weight: bold;
  font-size: 15px;
  border : 3px solid white;
  border-radius: 24px;
  padding: 12px 16px;
  background: #d822639c;
  width: 600px;
  max-width: 90%;
  margin-top: 150px;
}

.featuredName {
  color : white;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin: 8;
}

.featuredDesc {
  color : white;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-top : 16;
}

.featuredVideo {
  background : black;
}

.featuredBuy {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
}

.buyPrice {
  font-weight: bold;
  font-size: 20px;
}

.buyBtn {
  margin-top: 12px;
  border : 3px solid white;
  border-radius: 18px;
  padding: 6px 16px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  color : white;
  background: #f748af;
  pointer-events: all;
}

.buyBtn:hover{
  background : #de3f9d;
}
