link(rel='stylesheet' href='./index.css')

head
  title AI-AI
  script(src="https://js.stripe.com/v3/")
  script(src='./scripts/money-input.min.js')
  script(src="./scripts/axios.min.js")
  script(src="https://aframe.io/releases/1.0.4/aframe.min.js")

  
.aframe
  a-scene(vr-mode-ui="enabled: false")
    a-assets
      a-asset-item(id="city-obj" src="./assets/city.obj")
      a-asset-item(id="city-mtl" src="./assets/city.mtl")
    a-entity(obj-model="obj: #city-obj; mtl: #city-mtl" rotation="0 90 0" position="0 0 -6" scale="0.15 0.15 0.15")
    a-sky(src="./assets/galactic.jpg" repeat="10 10")
    a-box(position="-1 0.5 -3" rotation="0 45 0" color="#4CC3D9")
    a-camera(position="-35 24 33")

.app

  .nav
  
  .topContent
    .one.featured
      img.featuredImg(src='./assets/robot1.png')
    .two.featured
      img.featuredImg(src='./assets/robot2.png')
    .three.featured
      img.featuredImg(src='./assets/robot3.png')
    .four.featured
      img.featuredImg(src='./assets/robot4.png')
    
  .main
    .mainTitle AI-AI
    .mainAbout Showcasing the Best in Artificial Intelligence and Amazing Inventions
    if funded
      .mainFunded Thanks for Funding the Project!
    else 
      .mainFund Fund the Project
      .fund
        .fundAmountLabel How much would you like to fund?
        .amountInput
          .dollar $
          input.fundAmountInput(type="text" placeholder="50,000")
        .fundSubmit Submit Fund
    
  .bottomContent
    .five.featured
      img.featuredImg(src='./assets/robot5.png')
    .six.featured
      img.featuredImg(src='./assets/robot6.png')
    .seven.featured
      img.featuredImg(src='./assets/robot7.png')
    .eight.featured
      img.featuredImg(src='./assets/robot8.png')
      
  .footer

script(src="./index.js")
